/* @font-face {
  font-family: Javanese;
  src: url(Javanese-Text.ttf);
} */

.logo {
	width: 300px;
	height: 97px;
}
.homeContainer {
	height: 100%;
  background-color: blue;
	width: 100%;
	position: relative;
	align-items: center;
}

.titleText {
	font-size: 40px;
	/* line-height: 24px; */
	margin-top: 10px;
	margin-right: 225px;
	font-family: Itim;
}

.newsContainer{
  overflow-y: scroll;
  background-color: red;
}
.newsBlock{
  width: 80%;
  background-color: grey;
}
.newsHeading {
	font-size: 24px;
	font-family: Javanese;
	text-decoration: underline;
	margin-right: 125px;
}
.newsImage {
	margin-left: 30px;
}
.newsBlurb {
	font-size: 16px;
	line-height: 19px;
	margin-top: 15px;
	margin-left: 25px;
	font-family: Inter;
	color: #6c6a6a;
}
